################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ackee/Ackee.v3.ncrunchsolution.user
